*{
    margin: 0;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: Gill Sans MT;
}

body{
    background: rgb(199, 234, 246);
    font-family: system-ui;
}
.container{
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}
header{
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}

header .shopping{
    position: relative;
    text-align: right;
}
header .shopping img{
    width: 40px;
}

/* Quantity # Circle */
header .shopping span{
    background: #1c88f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}

.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
    font-size: 20px;
}
.list .item{
    text-align: center;
    background-color: #DCE0E1;
    padding: 10px;
    box-shadow: 0 10px 50px #757676;
    letter-spacing: 1px;
}
.list .item img{
    width: 100%;
    height: 430px;
    object-fit: contain;
}
.list .item .title{
    font-weight: 600;
}

.list .item .price{
    visibility: hidden;

}

/* Add to Cart Button */
.list .item button{
    background-image: linear-gradient(to right, #1c88f4 , #14abf6, #79d0fc);
    border: none;
    color: #fff;
    width: 100%;
    padding: 10px;
    transition: all 0.2s ease;
    font-size: 15px;
}

button:active{
    transform: scale(0.95);
}


/* Complete Checkout */
.confirm_btn{
    background-image: linear-gradient(to right, #1c88f4 , #14abf6, #79d0fc);
    border: none;
    color: #fff;
    width: 220px;
    height: 50px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    transition: all 0.2s ease;
    font-size: 18px;

    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/*Pop Up*/
.popup{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 380px;
    width: 380px;

    background-color: #f3f3f3;
    border-radius: 5px;

    transform: translate(-50%,-50%) scale(0.1);
    padding-left: 50px;
    justify-content: center;
    padding: 70px 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.popup h2{
    font-size: 40px;
    font-weight: 500;
    margin: 0 auto;
    font-family: Gill Sans MT;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}

.popup p{
    margin: 0 auto;
    font-family: Gill Sans MT;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}

.popup button{
    width: 100%;
    margin-top: 15px;
    background-image: linear-gradient(to right, #1c88f4 , #14abf6, #79d0fc);
    border: 0;
    font-size: 20px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    font-family: Gill Sans MT;
}

.icon{
    font-size: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 120px;
}